#conocenos {
    position: relative;
    background-size: cover;
    margin: 4rem 0;
    .seccion-texto {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 41%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
        padding: 8rem 6rem 1rem 3rem;
        width: 100%;
        color: #fff;
        height: 400px;
        .button-section {
            a {
                color: #fff;
            }
            svg {
                fill: #fff;
            }
        }
    }
    .empresas {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        margin-top: -30px;
        div {
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
            margin-top: 2rem;
            img {
                width: 200px;
                background-color: $gris-claro;
                padding: 4rem 0;
            }
        }
        .button-section {
            border: 0;
            box-shadow: none;
            margin-top: 0;
            a {
                color: $gris-oscuro;
            }
            svg {
                fill: $gris-oscuro;
            }
        }
    }
}

@media (min-width: 768px) {
    #conocenos {
        .empresas {
            flex-direction: row;
            div {
                margin-right: 1.5rem;
            }
        }
    }
}
@media (min-width: 1200px) {
    #conocenos {
        height: 600px;
        margin-top: 12rem;
        .empresas {
            width: 80%;
            position: relative;
            margin: auto;
            justify-content: space-around;
            div {
                img {
                    width: 250px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    #conocenos {
        margin-top: 12rem;
        .seccion-texto {
            padding: 8rem 70rem 1rem 8rem;
        }
    }
}
