footer {
    background: $bg-gradient;
    margin-top: 150px;
    padding: 2rem 0;
    div {
        padding: 1rem;
    }

    div:nth-child(2) {
        img {
            width: 100px;
            margin: -120px 0 24px 0;
        }
        a {
            color: #fff;
            text-transform: uppercase;
        }
    }
    div:nth-child(3) {
        display: flex;
        justify-content: space-between;
        img {
            width: 25%;
        }
    }
    .menu-items {
        line-height: 1.5;
    }
}
@media (min-width: 768px) {
    footer {
        margin-top: 200px;
        padding: 2rem;
        div:nth-child(3) {
            display: flex;
            justify-content: space-between;
            img {
                width: 22%;
            }
        }
    }
}
@media (min-width: 1200px) {
    footer {
        margin-top: 250px;
        display: flex;

        div:first-child {
            width: 25%;
            img {
                margin-top: -100px;
            }
        }
        div:nth-child(2) {
            width: 25%;
        }
        div:last-child {
            width: 50%;
            align-items: flex-end;
        }
    }
}
@media (min-width: 1400px) {
}
