* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$bg-gradient: linear-gradient(90deg, #009fe3 30%, rgba(0, 75, 142, 1) 100%);
$celeste: #009fe3;
$gris-oscuro: #575755;
$gris-intermedio: #ececec;
$gris-claro: #ececec;

body {
    font-family: "Raleway", sans-serif;
}
h1 {
    font-size: 2.5rem;
}
ul {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
.button-section {
    a {
        font-weight: 800;
        color: $celeste;
        display: flex;
        align-items: center;
        padding: 10px 0;
        svg {
            width: 25px !important;
            margin: 0 0 0 10px !important;
            box-shadow: none !important;
        }
    }
}
.copy {
    padding: 0.5rem;
    text-align: center;
    font-size: 11px;
    color: #2a2530;
    a {
        font-weight: bolder;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 2rem;
    }
}
