* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$bg-gradient: linear-gradient(90deg, #009fe3 30%, rgba(0, 75, 142, 1) 100%);
$celeste: #009fe3;
$gris-oscuro: #575755;
$gris-intermedio: #ececec;
$gris-claro: #ececec;

body {
    font-family: "Raleway" sans-serif;
}

ul {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
