header {
    position: relative;
    section:first-child {
        display: flex;
        align-items: center;
        height: 400px;
        padding: 0 3rem;
        background: $bg-gradient;
        h1 {
            color: #fff;
            width: 25%;
            font-style: italic;
            font-size: 3rem;
        }
    }
    section:nth-child(2) {
        padding: 0 2rem 2rem 2rem;
        img {
            width: 100%;
            margin-top: -10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
        }
        .seccion-texto {
            padding: 15px 0;
        }
        .button-section {
            svg {
                fill: $celeste;
            }
        }
    }
}
@media (min-width: 1200px) {
    header {
        section:first-child {
            h1 {
                font-size: 4.5rem;
            }
        }
        section:nth-child(2) {
            display: flex;
            align-items: center;
            img {
                width: 50%;
                margin-top: -30px;
            }
            .seccion-texto {
                padding: 2rem 4rem;
            }
        }
    }
}
@media (min-width: 1400px) {
}
