/* Menu */

.header {
  position: relative;
  width: 100%;
  height: 70px;
  z-index: 3;
  .logo {
    display: block;
    float: left;
    font-size: 3em;
    padding: 10px 20px;
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    list-style: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.959);
    width: 100%;
    z-index: -1;
    li {
      a {
        font-weight: 400;
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        transition: all 300ms;
        text-transform: uppercase;
        img {
          width: 35px;
          transition: transform 0.1s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    #logo-menu {
      position: absolute;
      top: 10px;
      left: 10px;
      img {
        width: 50px;
      }
    }
  }
  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 30px 20px;
    position: absolute;
    right: 0;
    user-select: none;
    .navicon {
      background: #333;
      display: block;
      height: 3px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 25px;
      &:before {
        top: 7px;
      }
      &:after {
        top: -7px;
      }
      &:before,
      &:after {
        background: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
    }
  }
  .menu-btn {
    display: none;
    &:checked ~ .menu {
      max-height: 490px;
    }
    &:checked ~ .menu-icon .navicon {
      background: transparent;
    }
    &:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }
    &:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }
    &:checked ~ .menu-icon:not(.steps) .navicon:before,
    &:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }
}

@media (min-width: 998px) {
  .header {
    height: 100px;
    ul {
      padding-top: 0;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      transition: all 0.5s ease;
      z-index: 9999;
      padding-right: 2rem;
      li {
        display: flex;
        align-items: center;
        a {
          border: 0;
          font-weight: bold;
          padding: 20px 20px;
        }
      }
    }
    .menu {
      clear: none;
      float: right;
      max-height: none;
      height: 100px;

      #logo-menu {
        left: 30px;
        img {
          width: 80px;
        }
      }
    }
    .menu-icon {
      display: none;
    }
    #logo-menu {
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
      .fixed {
        display: block;
        width: 7%;
        position: absolute;
        left: 30px;
        align-self: center;
        padding: 1rem;
      }
    }
    .menu.is-fixed {
      position: fixed;
      box-shadow: 3px 3px 10px #0000001f;
      background-color: rgba(255, 255, 255, 0.9);
      height: 55px;
      left: 0;
      #logo-menu {
        top: 0;
        left: 60px;
        img {
          width: 55px;
        }
      }
      -webkit-animation: fadein 0.3s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.3s;
      /* Firefox < 16 */
      -ms-animation: fadein 0.3s;
      /* Internet Explorer */
      -o-animation: fadein 0.3s;
      /* Opera < 12.1 */
      animation: fadein 0.3s;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
@media (min-width: 1400px) {
  .header {
    height: 120px;
    .menu {
      height: 120px;

      #logo-menu {
        left: 150px;
        img {
          width: 100px;
        }
      }
    }
    padding: 0 10rem !important;
  }
}
