$opacity-transition: opacity 0.2s ease-in-out;

.modal-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    color: $celeste;
}

.close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 16px;
    text-decoration: none;
    width: 16px;
    margin: 25px;
    svg {
        width: 16px;
        stroke: #fff;
        fill: #fff;
    }
}

.modal-wrapper {
    align-items: center;
    background: rgba(0, 0, 0, 0.95);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    opacity: 0;
    transition: $opacity-transition;
    visibility: hidden;

    &:target {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        .modal-body {
            opacity: 1;
            transform: translateY(1);
        }
    }

    .modal-body {
        width: 300px;
        opacity: 0;
        transform: translateY(-100px);
        transition: $opacity-transition;
        width: 100%;
        z-index: 1;
        color: #fff;
    }
}

.outside-trigger {
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.button__link {
    text-decoration: none;
}
@media (min-width: 1200px) {
    .modal-wrapper {
        .modal-body {
            width: 600px;
        }
    }
}
