#novedades {
    position: relative;
    height: 400px;
    background-image: url("../images/novedades.jpg");
    background-size: cover;
    .seccion-texto {
        background: rgba(0, 0, 0, 0.384);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 37%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
        padding: 12rem 9rem 1rem 3rem;
        width: 100%;
        color: #fff;
        height: 400px;

        .button-section {
            a {
                color: #fff;
            }
            svg {
                fill: #fff;
            }
        }
    }
}
@media (min-width: 1200px) {
    #novedades {
        height: 500px;
        margin-top: 24rem;
        .seccion-texto {
            height: 500px;
            margin-top: 24rem;
            padding: 6rem 3rem 1rem 50rem;
        }
    }
}
@media (min-width: 1400px) {
}
