#novedades {
    position: relative;
    height: 400px;
    background-image: url("../images/novedades.jpg");
    background-size: cover;
    .seccion-texto {
        background: rgba(0, 0, 0, 0.384);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 37%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
        z-index: 1;
        padding: 12rem 9rem 1rem 3rem;
        width: 100%;
        color: #fff;
        height: 400px;

        .button-section {
            a {
                color: #fff;
            }
        }
    }
}
