#rrhh {
    position: relative;
    height: 400px;
    background-image: url("../images/planta.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1rem 2rem;
    .seccion-texto {
        background: $bg-gradient;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
        z-index: 1;
        padding: 1rem;
        width: 100%;
        margin-top: 230px;
        color: #fff;
        .button-section {
            a {
                color: #fff;
            }
            svg {
                fill: #fff;
            }
        }
    }
}
@media (min-width: 1200px) {
    #rrhh {
        margin-top: 6rem;
        height: 600px;
        .seccion-texto {
            width: 40%;
            padding: 3rem;
            margin-top: 320px;
        }
    }
}
@media (min-width: 1400px) {
    #rrhh {
        padding: 1rem 10rem;
        margin-top: 10rem;
        height: 700px;
        .seccion-texto {
            width: 30%;
            padding: 3rem;
            margin-top: 370px;
        }
    }
}
