#rse {
    padding: 4rem 3rem 3rem 2rem;
    h2 {
        margin: 0.5rem 0;
    }
    h4 {
        font-style: italic;
    }
    .button-section {
        a {
            color: $gris-oscuro;
        }
    }
}
@media (min-width: 1200px) {
    #rse {
        padding: 8rem 18rem;
        font-style: italic;
        h2 {
            margin: 0.5rem 0;
            font-size: 3.5rem;
        }
        h4 {
            font-style: italic;
            font-size: 2.2rem;
        }
        small {
            font-size: 1.2rem;
            width: 60%;
        }
    }
}
@media (min-width: 1400px) {
    #rse {
        padding: 8rem 34rem 4rem 34rem;
    }
}
